{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'grumblr/global.css' %}"/>{% endblock %}
{% block title %}Grumblr - Global Stream{% endblock %}

{% block left_area %}
    {{ block.super }}
{% endblock %}

{% block right_area %}
<div class="col-4 global">
    <form enctype="multipart/form-data" class="form-group form-stream" action="{% url 'global' %}" method="post">
        <p class="share_hint">Share your life here:</p>
{#        {% for field in form.visible_fields %}#}
{#        <div>{{ field.name }}:{{field.errors}}</div>#}
{#        {% endfor %}#}
        {% if form.text.errors %}
        <textarea class="post_box" name="post_box">{{form.text.errors}}</textarea>
        {% else %}
        {{ form.text }}
        {% endif %}
        {{ form.image }}

        <button type="submit" class="btn button-post">Post</button>
        {% csrf_token %}
    </form>
</div>
{% endblock%}

{% block sidebuttons %}
    <a class="btn button-stream" href="{% url 'profile' current_user.username %}">View My<br>Profile</a>
{% endblock %}

