<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>calculator</title>
	<link rel="stylesheet" type="text/css" href="/static/ui.css">
</head>
<body>
	<div>
		<form action="/" method="get">
			<input type="text" name="textbox" class="textbox" value="{{display}}">
			<input type="hidden" name="status" value="{{current_status}}">

			{% if current_status == "idle" %}
			<input type="hidden" name="prev_operator" value="&plus;">
			<input type="hidden" name="operand1" value="0">

			{% elif current_status == "before_op" %}
			<input type="hidden" name="prev_operator" value="{{operator}}">
			<input type="hidden" name="operand1" value="{{first_operand}}">

			{% elif current_status == "after_op" %}
			<input type="hidden" name="prev_operator" value="{{operator}}">
			<input type="hidden" name="operand1" value="{{first_operand}}">

			{% elif current_status == "after_equal" %}
			<input type="hidden" name="prev_operator" value="&plus;">
			<input type="hidden" name="operand1" value="0">

			{% elif current_status == "error" %}
			<input type="hidden" name="prev_operator" value="&plus;">
			<input type="hidden" name="operand1" value="0">
			{% endif %}

			<div>
				<input type="submit" name="digit" class="btn green" value="1">
				<input type="submit" name="digit" class="btn green" value="2">
				<input type="submit" name="digit" class="btn green" value="3">
				<input type="submit" name="operator" class="btn red" value="​&plus;"> 
			</div>
			<div>
				<input type="submit" name="digit" class="btn green" value="4">
				<input type="submit" name="digit" class="btn green" value="5">
				<input type="submit" name="digit" class="btn green" value="6">
				<input type="submit" name="operator" class="btn red" value="&minus;"> 
			</div>
			<div>
				<input type="submit" name="digit" class="btn green" value="7">
				<input type="submit" name="digit" class="btn green" value="8">
				<input type="submit" name="digit" class="btn green" value="9">
				<input type="submit" name="operator" class="btn red" value="​&times;"> 
			</div>
			<div>
				<input type="submit" name="42" class="btn dummy" value="42">
				<input type="submit" name="digit" class="btn green" value="0">
				<input type="submit" name="operator" class="btn green" value="​&equals;"> 
				<input type="submit" name="operator" class="btn red" value="&divide;"> 
			</div>
		</form>
	</div>
</body>
</html>