.btn {
	font-weight: bold;
	font-size: 50px;
	border-radius: 20px;
	width: 100px;
	height: 100px;
	margin: 20px;
}
.btn:hover {
	background-color: yellow;
	color: black;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.dummy {
	background-color: white;
	color: white;
	border-style: none;
}
.dummy:hover {
	background-color: white;
	color: white;
}
.textbox {
	width: 550px;
	height: 150px;
	border-style: solid;
	font-size: 90px;
	text-align: right;
}