{% extends "login.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<form action="" method="post">
    <p class="signup_hint">Use &nbsp;your &nbsp;email &nbsp;to &nbsp;reset &nbsp;password</p>
    <p class="error">{{ form.email.errors }}</p>

    <div class="row1">
        <p class="input-label">E-mail address:</p>
        <div class="input-text">{{ form.email }}</div>
    </div>
    <input type="submit" class="btn button-log_sign" value="Reset" />
    {% csrf_token %}
</form>
{% endblock %}
