{% extends "login.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
            <div class="error">{{ form.errors }}</div>
            <p class="error">{{ form.new_password1.errors }}</p>

            <div class="row1">
                <p class="input-label">New password:</p>
                <div class="input-text">{{ form.new_password1 }}</div>
            </div>
            <div class="row1">
                <p class="input-label">Confirm password:</p>
                <div class="input-text">{{ form.new_password2 }}</div>
            </div>
            <input type="submit" class="btn button-log_sign" value="Reset" />
        {% csrf_token %}
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p class="error">Invalid Link</p>
    {% endif %}
{% endblock %}