body {
    font-family: "Calibri", Sans-serif;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
div {
    position: relative;
}
.top-blank {
    width: 100%;
    height: 80px;
}
.signup-top {
    width: 100%;
    height: 190px;
    position: relative;
}
.gru-signup {        
    color: #0062c8;
    font-weight: bold;
    font-family: "Calibri", Sans-serif;
    font-size: 4em;
    position: absolute;
    left: 40px;
    top: 30px;
}
.share-signup {
    color: #0062c8;
    font-weight: bold;
    font-family: "Calibri", Sans-serif;
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    top: 130px;
}
.signup-middle {
    position: relative;
    background-color: black;
    width: 100%;
    height: 450px;
    font-size: 100px;
    clear: both;
}
.signup_hint {
    color: yellow;
    font-family: "Papyrus", Fantasy;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    /*top: 40px;*/
    padding-top: 40px;
    left: 360px;
    width: 100%;
    /*margin-bottom: 50px;*/
    margin-bottom: 0px;
}
.error {
    color: red;
    font-family: "Calibri", Sans-serif;
    font-size: 34px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: relative;
    left: 45%;
}
.row1 {
    position: relative;
    top: 0;
    height: 100px;
}
.input-label {
    color: yellow;
    font-size: 40px;
    position: absolute;
    right: 960px;
}
.input-text {
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 500px;
    width: 400px;
    height: 60px;
    font-size: 40px;
}
.signup-bottom {
    height: 100px;
    width: 100%;
}
.blue-underline {
    color: #0062c8;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
    align-self: center;
    position: relative;
    top: 80px;
    text-align: center;         
}
.button-log_sign {
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 40px;
    border-radius: 10px;
    border-style: solid;
    width: 190px;
    height: 70px;
    position: relative;
    left: 783px;
    top: -40px;
}